.cardContainer{
    width: 180px;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--bs-gray-200);
    transition: all 0.3s;
    cursor: pointer;
    margin: 8px;
    &:hover{
        border: 1px solid var(--bs-primary);
    }
}

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    & h3{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: var(--bs-primary-text);
        text-transform: uppercase;
        margin: 15px 0px 10px 0;
    }
    & h4 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: var(--bs-light-text);
        margin: 0;

    }
}


.cardBody p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.cardHeader img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.cardFooter{
    width: 100%;
}

.cardFooter .viewButton{
    width: inherit;
    height: 30px;
    margin-top: 10px;
    font-size: 12px;

    background-color: var(--bs-primary);
    &:hover{
        background-color: var(--bs-primary-text); 
    }
}
